<IfModule mod_rewrite.c>
    RewriteEngine On

    # Izinkan akses file yang benar-benar ada
    RewriteCond %{REQUEST_FILENAME} -f [OR]
    RewriteCond %{REQUEST_FILENAME} -d
    RewriteRule ^ - [L]

    # Semua request aplikasi masuk ke index root
    RewriteRule ^ index.php [L]
</IfModule>
